* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Lato', 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
  }
  
  a:link {
    text-decoration: none;
    color: #352723;
}

  a:hover {
    color: #D82C18;
}

  button, input[type="text"] {
    padding: 5px;
  } 

  .container, #results-recipes, #results-videos {
    width: 100%;
    background-image: url("images/basil-chopping-board-fresh-green-616484.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border: 0;
  }
  
  .copyright{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /* @media only screen and (min-width: 320px) { */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  h1{
    color: #F4EAE3;
    font-size: 40px;
    font-family: 'Spicy Rice', cursive;
    letter-spacing: 3px;
    padding: 0;
  }

  h2{
    margin-top: 40px;    
    padding: 40px 0 30px 0;
    text-align: center;
    color: #352723;
    font-size: 34px;
    font-family: 'Spicy Rice', cursive;
    letter-spacing: 3px;
  }

  h3{
    color: #D33326;
    font-size: 25px;
  }

  header{
    background-image: url("https://image.freepik.com/free-photo/fresh-ingredients-cooking-pasta-wooden-background_23-2147925942.jpg");
    height: 400px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .in-title{
    font-size: 18px;
    color: #F4EAE3;
    position: relative;
  }

  img:hover{
    box-shadow: 0 0 2px 1px #D82C18;
  }

  li {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  li, img{
    max-width: 500px;
  }
  
  .error-message{
    color: #D33326;
  }

  footer{
    font-size: 12px;
    background-color:#352723;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  }

  .fas fa-bone{
    font-weight: 900;
    font-size: 30px;
  }

  fieldset{
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    display: inline-grid;
    padding-top: 40px;
  }

  .hidden{
    display: none;
  }

  input{
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
    height: 44px;
    width: 264px;
  }

  input[type="text"]{
    padding: 5px;
    border-radius: 4px;
    -webkit-appearance: media-sliderthumb;
  }

  label{
    font-size: 20px;
    padding-top: 10px;
  }

  .message{
    padding-bottom: 0;
  }

  .summary{
    font-size: 16px;
    display: none;
  }

  .presentation{
    text-align: center;
    line-height: 1.5;
    margin-top: 60px;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 18px;
}

  #submit:hover{
    box-shadow: 0 0 2px 1px #D82C18;
    cursor: pointer;
  }

  .recipe-image{
    border: 4px solid white;
    border-radius: 4px;
    padding: 6px;
    width: 100%;
  }

  .results-videos{
    background-color:#F4F1E6;
  }

  section{
    padding: 30px 0 30px 0;
  }

  .sourcename{
    font-size: 12px;
    text-decoration: underline;
  }

  #submit{
    font-size: 20px;
    background-color: #517414;;
    -webkit-appearance: media-sliderthumb;
    padding: 6px;
    margin-top: 20px;
    color: white;
    font-weight: 500;
    border-radius: 4px;
  }

  .title{
    font-size: 25px;
    font-weight: 600;
    color: #453023;
  }
/* } */

  @media only screen and (min-width: 480px) {
    .sourcename{
      font-size: 13px;
      text-decoration: underline;
    }
    
    .presentation{
      max-width: fit-content;
    }
  }  
  
  @media only screen and (min-width: 522px) {
    #results-recipes-list li {
      display: inline-block;
      width: 50%;
      vertical-align: bottom;
      transition-property: li;
      transition-duration: 20s;
      transition-timing-function: linear;
    }
  
    #results-videos-list li {
      display: inline-block;
      width: 50%;
      vertical-align: bottom;
    }

    h1{
      padding-top: 40px;
      font-size: 55px;
      transition-property: font-size;
      transition-duration: 1s;
      transition-timing-function: linear;
    }

    h2{
      font-size: 44px;
      transition-property: font-size;
      transition-duration: 1s;
      transition-timing-function: linear;
    }
  }

  @media only screen and (min-width: 768px) { 
    #results-recipes-list li {
      display: inline-block;
      width: 33%;
      vertical-align: bottom;
    }

    #results-videos-list li {
      display: inline-block;
      width: 33%;
      vertical-align: bottom;
    }

    h1{
      padding-top: 80px;
      font-size: 75px;
    }

    .in-title{
      font-size: 24px;
      margin: 0;
      transition-property: font-size;
      transition-duration: 1s;
      transition-timing-function: linear;
    }
  }